* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f8f1e2;
}

body button {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 25.5px 0 15.5px;
  margin: 52px 80px 0 80px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.nav-button {
  background-color: #1b4cf9;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.header-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 28px;
}

.header-title p {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.header-title input {
  font-family: "Inter";
  width: 792px;
  height: 57px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #f8f1e2;
  color: #6b6868;
  margin-right: 23px;
  padding-left: 75px;
  border-radius: 5px;
}

.header-title button {
  position: relative;
  left: 65px;
  top: 4px;
  background-color: transparent;
  border: none;
}

.searchbar {
  margin-bottom: 116.5px;
}

.index-main .about-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0 50px 0;
}

.book-section h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-decoration-line: underline;
  margin: 0 0 41px 80px;
  align-self: flex-start;
}

.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: fit-content;
  margin-bottom: 97px;
  padding: 11px 48px 11px 48px;
  background-color: #f5f5f5;
}

.book-container {
  display: flex;
  flex-direction: column;
}

.book-container img {
  width: 266px;
  height: 344px;
}

.book-container button {
  width: 101px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  align-self: center;
  background: #1b4cf9;
  border-radius: 4px;
  margin: 9px 0 17px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  border: none;
}

.bottom-row {
  display: flex;
  justify-content: center;
  gap: 72px;
  width: fit-content;
  margin-bottom: 97px;
  padding: 11px 48px 11px 48px;
}

.bottom-row-heading {
  margin-left: 108px;
  font-size: 40px;
  text-decoration-line: none;
}

.discover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-section h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 24px;
  text-decoration: none;
}

.discover-descript-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 24px 80px;
  align-self: flex-start;
}

.discover-descript-2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 24px 80px;
  align-self: flex-start;
}

.discover-section a {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #1b4cf9;
  align-self: flex-end;
  margin: 0 87px 24px 0;
  text-decoration: none;
}

.discover-row {
  display: flex;
  gap: 118px;
  margin-bottom: 37px;
}

.discover-container {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 347px;
  height: 102px;
  padding: 10px;
}

.upper-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.lower-text {
  font-size: 20px;
  color: #6b6868;
}

.trial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trial-section h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 30px;
}

.try-descript-1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 30px;
}
.try-descript-2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 61px;
}

.trial-container {
  display: flex;
  gap: 63px;
}

.trial-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 439px;
  height: 316px;
  background-color: #ffffff;
  margin-bottom: 61px;
}

.monthly {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
}

.price {
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 35px;
}

.usd {
  font-size: 20px;
}

.per-month {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 1px;
}

.billed {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.trial-button {
  width: 395px;
  height: 41px;
  background: #1b4cf9;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.trial-button a {
  text-decoration: none;
  color: #ffffff;
}

.trial-descript-3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 101px;
}

.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px 117px 80px;
}

.testimonial-section h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 30px;
}

.testimonial-section h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 55px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.testim-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quote {
  width: 368px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.quoted {
  font-size: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 31px 46px 0 46px;
  background: #000000;
  margin-bottom: 50px;
  color: #ffffff;
  height: fit-content;
  width: 1271px;
  align-self: center;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 72px;
}

.footer-top h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 30px;
}

.footer-top a {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.link-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  white-space: nowrap;
}

.link-container a {
  text-decoration: none;
  color: #ffffff;
}

.learn-container {
  display: flex;
  gap: 60px;
}

.footer-bottom {
  display: flex;
  align-self: center;
  text-decoration: none;
  gap: 36px;
  margin-bottom: 31px;
}

/* about page */
.about-hero {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.main-intro {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.about-main {
  padding: 0 80px 0 80px;
}

.improve-container {
  background-color: #ffffff;
  display: flex;
  margin-bottom: 77px;
  padding: 42px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  gap: 140px;
}

.improve-heading {
  color: red;
}

.improve-about {
  margin: 40px 0 50px 0;
}

.improve-link {
  text-decoration: none;
  color: blue;
}

.who {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efede6;
  margin: 51px;
  padding-top: 27px;
}

.who h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #ea4335;
}

.who p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 38px 0 38px 0;
}

.who button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #1b4cf9;
  border: 1px solid #ffffff;
  border-radius: 5px;
  align-self: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 27px;
}

/* books page */
.books-main {
  display: flex;
  justify-content: center;
  margin-bottom: 102px;
}

.books-container {
  display: flex;
  margin-bottom: 50px;
}

.sort-filter {
  width: 247.94px;
  height: 58px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 38px;
  margin-top: 32px;
}

.books-aside {
  background: #e0e9fa;
  border: 1px solid #d9d9d9;
  margin-top: 13px;
  width: 384px;
  height: 1957px;
  padding: 12px 0 22px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.aside-heading {
  color: blue;
  font-weight: 700;
  font-size: 18px;
}

.books-aside ul {
  list-style-type: none;
}

.book-list {
  background-color: #ffffff;
  padding: 0 49px 110px 45px;
  width: 881px;
  height: 2086px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
}

.books-img {
  margin-right: 30px;
  width: 266px;
  height: 344px;
}

.button-rating {
  display: flex;
  margin-top: 35px;
}

.button-rating button {
  width: 164px;
  height: 44px;
  background: #1b4cf9;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 45px;
}

.star {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.score {
  margin-left: 27px;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
}

.pages {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  gap: 30px;
}

.pages a {
  text-decoration: none;
  color: black;
}

/* price page */
.price-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-main h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  margin: 30px 0 45px 0;
}

.price-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 30px;
  padding: 64px 0 30px 0;
  width: 825px;
  height: fit-content;
}

.price-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 0 0 30px 60px;
  align-self: flex-start;
  margin-left: 60px;
}

.price-form-2 {
  margin: 116px 0 96px 0;
}

.steps {
  color: #6b6868;
  margin-bottom: 3px;
  align-self: flex-start;
  margin-left: 60px;
}

.parenthesis {
  color: #6b6868;
  font-weight: 500;
}

.input-container {
  display: flex;
  gap: 58px;
  margin-bottom: 31px;
}

.price-main label,
.input-container p,
.form2-print {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 5px;
  color: #6b6868;
}

.price-main input {
  width: 324px;
  height: 47px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.form-button {
  background: #6b6868;
  border-radius: 5px;
  align-items: center;
  padding: 15px 0px 20px 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  width: 706px;
  height: 70px;
  border: transparent;
}

.form2-print {
  margin-bottom: 50px;
  text-align: center;
  padding: 0 22px 0 22px;
}

.prices-trial-container {
  display: flex;
  align-self: flex-start;
  gap: 115px;
  margin: 41px 0 50px 65px;
}

.prices-trial-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.form2-print2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin-top: 50px;
  padding: 0 10px 0 10px;
}

/* login page */

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 30px;
  margin: 120px 0 115px 0;
  padding: 84px 0 122px 0;
  width: 552px;
  height: fit-content;
}

.login-heading {
  align-self: flex-start;
  margin-left: 120px;
}

.login-welcome {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin: 30px 0 30px 0;
  color: #6b6868;
  text-align: left;
  align-self: flex-start;
  margin-left: 120px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;
}

.login-main label,
.login-input-container p {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 5px;
  color: #6b6868;
}

.login-main input {
  width: 324px;
  height: 47px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.login-email {
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: flex-start;
}

.checkbox p {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

.checkbox input {
  width: 16px;
  height: 16px;

  background: #ffffff;
  border: 1px solid #000000;
}

.login-button {
  background: #6b6868;
  border-radius: 5px;
  width: 324px;
  height: 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.or {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #6b6868;
  margin: 30px 0 30px 0;
}

.google {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 324px;
  height: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
